﻿#navigation{
	width:140px
}

#navigation table{
	width:100%
}

#navigation input{
	width:100%
}

#content{
	background-color:gray;
}

.board{
height:400px;
width:400px;
border-width:0px;
margin:0px;
outline-width:0px;
}

.spot {
float:left;
border-width:0px;
margin:0px;
outline-width:0px;

}

.over {
    position:absolute;
    width:100%;
    height:100%;
    zIndex:1000;
}

.canv {
    overflow:visible;
    position:absolute;
}

.white {
background-color:white;
}

.gray {
background-color:gray;
}

.piece{

}

.turn{
display:block;
margin-left:auto;
margin-right:auto;
text-align:center;
}

